{
    "host" : "localhost",
    "port" : 6667,
    "password" : "YOURPASSWORD",
    "tls" : {
        "key_file"  : "/absolute/path/to/your/privatekey.pem",
        "cert_file" : "/absolute/path/to/your/cetificate.pem"
    },
    "bouncers" : [
        {
            "name"     : "freenode",
            "encoding" : "UTF-8",
            "server"   : "hubbard.freenode.net",
            "port"     : 7000,
            "nick"     : "YOURNICK",
            "user"     : "YOURUSER",
            "real"     : "YOURNAME",
            "tls"      : {
              "ca_file"  : "/absolute/path/to/your/ca.pem"
            }
        },
        {
            "name"     : "ircnet",
            "encoding" : "ISO-2022-JP",
            "server"   : "irc.media.kyoto-u.ac.jp",
            "port"     : 6667,
            "nick"     : "YOURNICK",
            "user"     : "YOURUSER",
            "real"     : "YOURNAME"
        }
    ],
    "modules" : [
        {
            "name" : "log",
            "dir"  : "/path/to/logs"
        },
        {
            "name" : "auto-join",
            "channels" : {
                "freenode" : [ "#autojoinchan1", "#autojoinchan2" ],
                "ircnet"   : [ "#autojoinchan3" ]
            }
        },
        {
            "name" : "auto-reply"
        },
        {
            "name" : "log-buffer",
            "size" : 100
        }
    ]
}
